.link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition: .5s background;
  color: #333;
}

.link:hover {
  background: #ccc;
}

.active {
  padding-left: .5rem;
  border-left: .5rem solid #ccc;
}
